body {
  	background-color: darkslategray;
    text-align: center;
    position: relative;
    width:850px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  color: sandybrown;
}

.drumset-part {
  position: absolute;
}

#kick {
  width: 160px;
  bottom: 10px;
  left: 350px;
}

#crash {
  width: 100px;
  bottom: 10px;
  left: 210px;
}

#crash {
  width: 100px;
  left: 210px;
  bottom: 10px;
}

#tom {
  width: 120px;
  left: 250px;
  bottom: 10px;
}

#snare {
  width: 85px;
  left: 480px;
  bottom: 10px;
}

#hihat{
    width: 80px;
    right: 230px;
    bottom: 10px;
}

#tomleft {
  width: 80px;
  bottom:150px;
  left:350px;
}

#tomright {
  width:80px;
  bottom:150px;
  right:350px;
}

#bg-music {
  width: 100px;
}
